@page "/wizard"
@using FluentValidation
@using ShortRoute.Client.Components.WizardForm

@inject IStringLocalizer<SharedResource> L

<h3>WizardForm</h3>

<WizardForm T="WizardData" UniqueId="example" Style="width: 80%">

    <WizardStep Title="Step 1" Description="This is the first step">
        <div class="row">
            <div class="col-md-6">
                <WizardTextField For="@(() => context.Name)" @bind-Value="context.Name" Label="@L["Name"]" />
            </div>
            <div class="col-md-6">
                <WizardTextField For="@(() => context.Number)" @bind-Value="context.Number" Label="@L["Number"]" />
            </div>
        </div>
    </WizardStep>

    <WizardStep Title="Step 2" Description="This is the second step">
        <div class="row">
            <div class="col-md-6">
                <WizardTextField For="@(() => context.Address)" @bind-Value="context.Address" Label="@L["Address"]" />
            </div>
            <div class="col-md-6">
                <WizardTextField For="@(() => context.Gender)" @bind-Value="context.Gender" Label="@L["Gender"]" />
            </div>
        </div>
    </WizardStep>

    <WizardStep Title="Step 3" Description="This is the third step">
        <div class="row">
            <div class="col-md-6">
                <WizardTextField For="@(() => context.Currency)" @bind-Value="context.Currency" Label="@L["Currency"]" />
            </div>

            <div class="col-md-6">
                <WizardTextField For="@(() => context.Coin)" @bind-Value="context.Coin" Label="@L["Coin"]" />
            </div>
        </div>
    </WizardStep>

    <WizardStep Title="Step 4" Description="This is the fourth step">
        <div class="row">
            <div class="col-md-6">
                <WizardTextField For="@(() => context.Amount)" @bind-Value="context.Amount" Label="@L["Amount"]" />
            </div>

            <div class="col-md-6">
                <WizardTextField For="@(() => context.Age)" @bind-Value="context.Age" Label="@L["Age"]" />
            </div>
        </div>
    </WizardStep>

</WizardForm>

@code {
    public class WizardData
    {
        public string Name { get; set; }
        public int Number { get; set; }

        public string Address { get; set; }
        public string Gender { get; set; }

        public string Currency { get; set; }
        public string Coin { get; set; }

        public int Amount { get; set; }
        public int Age { get; set; }
    }

    public class WizardDataValidator : AbstractValidator<WizardData>
    {
        public WizardDataValidator()
        {
            RuleFor(x => x.Name)
                .NotEmpty()
                .Length(3, 100);

            RuleFor(x => x.Age)
                .Must(x => x > 100);

            RuleFor(x => x.Number)
                .Must(x => x > 4);

            RuleFor(x => x.Amount)
                .Must(x => x < 3);
        }
    }
}
