@page "/tenants"
@using ShortRoute.Client.Models.Generic
@using ShortRoute.Client.Models.Tenants
@using ShortRoute.Contracts.Dtos.Authentication
@attribute [Authorize(Permissions.ReadTenants)]

@inject IStringLocalizer<Tenants> L
@inject IAuthenticationService Authentication

<FshTitle Title="@L["Tenants"]" Description="@L["Manage Tenants."]" />

<EntityTable @ref="EntityTable" TEntity="TenantModel" TId="int" TRequest="TenantDto" Context="@Context"
    @bind-SearchString="_searchString">
    <EditFormContent>
        <MudItem xs="12" md="6">
            <MudTextField T="int" @bind-Value="context.TenantId" Label="@L["Key"]" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudTextField T="string" @bind-Value="context.TenantFullName" Label="@L["Name"]" />
        </MudItem>
    </EditFormContent>
    <ExtraActions>
        @if(_canUpgrade)
        {
            <MudMenuItem OnClick="@(() => ViewUpgradeSubscriptionModalAsync(context.Dto.TenantId))">@L["Upgrade Subscription"]</MudMenuItem>
        }
        @if (_canModify)
        {
@*            @if (!context.IsActive)
            {
                <MudMenuItem Style="color:limegreen!important" OnClick="@(() => ActivateTenantAsync(context.TenantId))">@L["Activate Tenant"]</MudMenuItem>
            }
            else
            {
                <MudMenuItem Style="color:red!important" OnClick="@(() => DeactivateTenantAsync(context.TenantId))">@L["Deactivate Tenant"]</MudMenuItem>
            }
*@        }
    </ExtraActions>

    <ChildRowContent>
@*        @if (context.ShowDetails)
        {
            <MudTr>
                <td colspan="6">
                    <MudCard Elevation="25" style="margin: 10px !important;">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudAlert Severity="Severity.Info" Typo="Typo.body1">@L["Details for Tenant"] :
                                    <strong>@context.TenantId</strong>
                                </MudAlert>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <table class="mud-table-root">
                                <tbody class="mud-table-body">
                                    dits
                                </tbody>
                            </table>
                        </MudCardContent>
                    </MudCard>
                </td>
            </MudTr>
        }
*@    </ChildRowContent>

</EntityTable>